@import "tailwindcss";

:root {
  --font-primary: 'Inter', 'Roboto', sans-serif;
}

body {
  font-family: var(--font-primary);
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
}